<md-toolbar layout="row" layout-align="center center">

  <md-button href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button ui-sref="home" class="md-raised">Home</md-button>
    <md-button ui-sref="about" class="md-raised">About</md-button>
    <md-button ui-sref="contact" class="md-raised">Contact</md-button>
  </section>

  <md-button class="acme-navbar-text">Application was created {{ vm.relativeDate }}.</md-button>

</md-toolbar>
